{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="posts">
            {% for post in posts %}
                <div class="post"> 
                    <h2>{{ post.author|capfirst }}</h2>
                
                    {% if not post.content %}
                        {% lorem 3 p %}
                    {% else %}
                        {{ post.content|truncatechars:10 }}
                    {% endif %}
                
                <div class="post-meta">
                    <span>Posted by {{ post.author|default:"anonymous" }}</span>
                </div>
                </div>
            {% empty %}
                <h1>there are no posts</h1>
            {% endfor %}
        
        </div>
    </div>
{% endblock %}